.header-main .image-container .header-name:before {
    background-color: #36393f; }
  
  .page-heading h2 {
    color: #36393f; }
  
  .page-heading .icon {
    color: #36393f; }
  
  .subheading h3 {
    border-color: #36393f !important; }
    .subheading h3:before, .subheading h3:after {
      background-color: #36393f; }
  
  .banner-section h1 span {color: rgb(255,0,0) ; }
  
  .banner-section p .cd-words-wrapper b {
    border-color: #36393f !important; }
  
  .about-info ul li span.title {
    border-color: #36393f !important; }
  
  .btn-main {
    border-color: #36393f !important;
    color: #36393f; }
    .btn-main:after {
      background-color: #36393f; }
  
  .services .service-item .icon {
    color: #36393f !important; }
  
  .testimonial-item .testimonial-content:before {
    color: #36393f !important; }
  
  ul.experience li span.line-left, ul.education li span.line-left {
    background-color: #36393f !important; }
    ul.experience li span.line-left:before, ul.experience li span.line-left:after, ul.education li span.line-left:before, ul.education li span.line-left:after {
      border-color:#36393f !important; }
  
  ul.experience .content h5, ul.education .content h5 {
    color: #36393f; }
  
  .progress .progress-bar {
    background-color:#36393f; }
    .progress .progress-bar:after {
      border-bottom-color: #36393f; }
  
  .portfolio-section .portfolio-filter ul li.active {
    background-color: #36393f; }
  
  .portfolio-section .item figure:before {
    background-color: #36393f; }
  
  .ajax-portfolio-popup .information span.title {
    color: #36393f; }
  
  .blog-section .blog-item .blog-content .cat {
    color: #36393f; }
  
  .contact-info .info-item .icon {
    color: #36393f; }
  
  blockquote {
    border-color:#36393f !important; }
  
  .blog-page .blog-heading .cat {
    color: #36393f; }
  